@font-face {
    font-family: "MetaOT";
    font-style: normal;
    font-weight: normal;
    /*src: url("ss-pika.eot?#iefix") format("embedded-opentype"), url("ss-pika.woff") format("woff"), url("ss-pika.ttf") format("truetype"), url("ss-pika.svg#SSPika") format("svg");
    */
    src: url("MetaOT-Book.otf") format("otf");
}    
@font-face {
    font-family: "SSpika";
    font-style: italic;
    font-weight: bold;
    /*src: url("ss-pika.eot?#iefix") format("embedded-opentype"), url("ss-pika.woff") format("woff"), url("ss-pika.ttf") format("truetype"), url("ss-pika.svg#SSPika") format("svg");
    */
    src: url("MetaOT-BoldIta.otf") format("otf");
}  

.ui-li-message-left, .ui-li-message-right  {
    margin: 0 25px 0 10px;
    overflow: visible;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.ui-li-message-right{
    margin: 0 10px 0 25px;    
}

.ui-li-left {
    float: left;
    margin: 0;
}
.ui-li-right {
    float: right;
    margin: 0;
}
#chatHistory li, #groupChatHistory li {
    margin: 0;
    padding: 0;
    min-height: 25px;
}
#chatHistory li.dark, #groupChatHistory li.dark {
    background: #EFF9FF;
}

.ui-li-left .ui-li-profil-icon, .ui-li-right .ui-li-profil-icon {
    height: 20px;
    width: 20px;
}
.ui-li-message-time {
    color: #CCCCCC;
    margin: 9px 0 0;
    padding: 0 0 5px;
    text-align: center;
    width: 100%;
}
.ui-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#chat_input{
    bottom: 0;
    display: block;
    margin: 0 -20px;
    padding: 0;
    position: absolute;
    width: 100%;

}
#chat_input .block-button-send{
    float: right;
    width: 90px;
}
#chat_input .block-input-send{
    float: right;
    margin: 3px 11px 0 0;
    min-width: 200px;
}


.ui-CHAT_STATUS_ONLINE{
    background: none repeat scroll 0 0 #00CC99;
    color: #00CC99;
}
.ui-CHAT_STATUS_AVAILABLE{
    background: none repeat scroll 0 0 #00CC99;
    color: #00CC99;
}
.ui-CHAT_STATUS_AWAY{
    background: none repeat scroll 0 0 #00CCCC;
    color: #00CCCC;
}
.ui-CHAT_STATUS_EMERGENCY{
    background: none repeat scroll 0 0 #FF6600;
    color: #FF6600;
}
.ui-CHAT_STATUS_OFFLINE{
    background: none repeat scroll 0 0 #CCCCCC;
    color: #CCCCCC;
}
.ui-CHAT_STATUS_INVISIBLE {
    background: none repeat scroll 0 0 #F8CF31;
    color: #F8CF31;
}

.ui-icon-CHAT_STATUS_AVAILABLE{
    background: url("../img/icons_online.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_ONLINE{
    background: url("../img/icons_online.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_AWAY {
    background: url("../img/icons_away.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_EMERGENCY {
    background: url("../img/icons_emergency.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_BUSY {
    background: url("../img/icons_.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_INVISIBLE {
    background: url("../img/icons_invisible.svg") repeat scroll 0 0 transparent;
}
.ui-icon-CHAT_STATUS_OFFLINE {
    background: url("../img/icons.svg") repeat scroll 0 0 transparent;
}

#chatListT .ui-li-icon{
    left: 0;
    max-height: 30px;
    min-width: 30px;
    top: 5px;
}
#contactListT .ui-li-icon, #contactList-selectedFriendT .ui-li-icon{
    left: 0;
    max-height: 30px;
    min-width: 30px;
    top: -2px;
}
.ui-li-message-count {
    background: none repeat scroll 0 0 lightgreen;
    border-radius: 1em 1em 1em 1em;
    color: white;
    margin: 0;
    padding: 1px 6px;
    display: inline-block;
}

.chat-list-friend-item, .chat-list-group-item{
    margin: -3px 0 0;
}

.ui-selectedFriend img{
    /*z-index: 1;
    box-shadow: 0 0 3px #387BBE inset, 0 0 9px #387BBE;*/
    box-shadow: 0 0 3px #00CC99 inset, 0 0 4px #00CC99;
}
#contactPageSmallMenu{
    display: none;
    margin: 15px -15px;
}

#contactPageSmallMenu li {
    margin-bottom: 18px;
}


.user-status-icon {
    font-family: SSPika;
    position: absolute;
    right: 10px;
    top: 35%;
}



.hidden, #contactback.hidden, #contactPageSmallMenu li.hidden,.ui-li-message-status.hidden{
    display: none;
}


#chatBack, #contactback, #groupChatBack, #groupMenuBack {
    background: url("../img/icons.svg") no-repeat scroll -115px 0px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    height: 18px;
    left: 10px;
    text-decoration: none;
    top: 33%;
    width: 18px;
    background-size: 240px auto;
}
#chatBack{
    background-position: -45px -21px;
    width: 19px;
}
.ui-controlgroup-controls{
    font-family: SSPika; 
}


#contactLink {
    background: url("../img/icons.svg") no-repeat scroll -94px -20px transparent;
    height: 20px;
    position: absolute;
    right: 25px;
    top: 50%;
    width: 19px;
    background-size: 240px auto;
}
#infoPrivateChat, #infoGroupChat {
    background: url("../img/icons.svg") no-repeat scroll -26px -20px transparent;
    height: 20px;
    position: absolute;
    right: 25px;
    top: 50%;
    width: 19px;
    background-size: 240px auto;
}
#statusLinkMainPage, #statusLinkChat, #statusLinkGroupChat{
    border-radius: 16px 16px 16px 16px;
    display: block;
    height: 18px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 18px;       
}
#statusLinkContatct {
    border: medium none;
    border-radius: 16px 16px 16px 16px;
    box-shadow: none;
    display: block;
    height: 18px;
    right: 10px;
    top: 33%;
    width: 18px;
}

.ui-body-c, .ui-overlay-c {
    background: #FFFFFF;
    color:green;


}
#chatListT li {
    height: 40px;
}
#chatListT li a {
    font-size: 13pt;
    font-weight: normal;
    padding: 0 0 0 35px;
}
#contactListT li, #contactList-selectedFriendT li {
    height: 30px;
}
#contactListT li a, #contactList-selectedFriendT li a {
    font-size: 13pt;
    font-weight: normal;
    padding: 4px 0 0 35px;
}

.device-mobile {
    background-position: 0 0;
    background-size: 190px auto;
    height: 16px;
    width: 11px;
}
.device-blackberry {
    background-position: 0 0;
    background-size: 190px auto;
    height: 16px;
    width: 11px;
}
.device-tablet {
    background-position: -134px -16px;
    background-size: 190px auto;
    height: 16px;
    width: 16px;
}
.device-pc {
    background-position: -132px 0px;
    background-size: 190px auto;
    height: 15px;
    width: 16px;
}

.user-delet-icon {
    background: url("../img/icons.svg") repeat scroll -83px 0px transparent;
    height: 11px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 9px;
    background-size: 150px auto;
}
#contactList-selectedFriendT .user-status-icon {
    background-size: 150px auto;
    height: 12px;
    top: 14px;
    width: 9px;
}


.smallMenuBtn {
    background: url("../img/icons.svg") repeat scroll -197px -20px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    height: 20px;
    margin: 0 auto;
    width: 19px;
    background-size: 250px auto;
}
#contactPageSmallMenu a {
    padding: 4px 0;
}
#contactPageSmallMenu .ui-controlgroup-controls a {
    padding: 4px 0 4px 24px;
    float: left;
}
#contactPageSmallMenu .ui-controlgroup-controls{
    margin: 0 0 0 -50px;
    padding-left: 50%;
}
#contactPageSmallMenu .ui-controlgroup{
    width: 100%;
}

.manageGroupMembers_ok {
    background: url("../img/icons.svg") repeat scroll -158px -20px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    height: 20px;
    margin: 0 auto;
    width: 19px;
    background-size: 250px auto;
}
.manageGroupMembers_cancel {
    background: url("../img/icons.svg") repeat scroll -138px 0px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    display: block;
    height: 20px;
    margin: 0 auto;
    width: 16px;
    background-size: 250px auto;
}

/******************************************************
*   contact list search filter
*******************************************************/

.ui-listview-filter {
    background: none repeat scroll 0 0 white;
}

.ui-input-search {
    border: medium none;
    box-shadow: none;
}
.ui-icon-searchfield:after{
    background: none;
}
#contactPage .ui-icon-delete {
    background: url("../img/icons.svg") repeat scroll -139px 0px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    margin: 1px 5px;
    width: 14px;
    background-size: 250px auto;
}
#contactPage form a {
    background: none;
    border: none;
}

#contactPage .ui-input-search.ui-focus{
    box-shadow: none;
}

/*********************************************************************************************************/

/******************************************************
*   chat page footer
*******************************************************/

.block-input-send .ui-input-text {
    background: none;
    box-shadow: none;
    border: none;
}

.block-button-send .ui-btn {
    background: url("../img/icons.svg") repeat scroll -118px -20px transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    height: 21px;
    margin: 0;
    padding: 0;
    width: 20px;
    background-size: 250px auto;
}

.block-button-send{
    float: right;
    margin: 16px 22px 0 0;
}
.block-input-send{
    float: left;
    margin-left: 8px;

}
/*********************************************************************************************************/
/*.profilImg{
    width: 30px;
    height: 30px;
}*/
#contactListT li#letterDivider {
    height: 12pt;
}
#letterDivider {
    background: none repeat scroll 0 0 #F2F2F2;
    color: #CCCCCC;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 11pt;
}

/*********************************************************************************************************/

/******************************************************
*   group chat menu footer
*******************************************************/
#groupChatMenuBtn_manage:before{
    background: url("../img/icons.svg") no-repeat scroll -56px 0 transparent;
    content: "";
    float: left;
    height: 20px;
    margin: 6px 0 0;
    width: 20px;
    background-size: 240px auto;
}
#groupChatMenuBtn_rename:before{
    background: url("../img/icons.svg") no-repeat scroll -64px -19px transparent;
    content: "";
    float: left;
    height: 20px;
    margin: 6px 0 0;
    width: 20px;
    background-size: 240px auto;
}
#groupChatMenuBtn_leave:before{
    background: url("../img/icons.svg") no-repeat scroll -206px 0 transparent;
    content: "";
    float: left;
    height: 20px;
    margin: 6px 0 0;
    width: 20px;
    background-size: 240px auto;
}
#groupChatMenuBtn_close:before {
    background: url("../img/icons.svg") no-repeat scroll -147px 0 transparent;
    content: "";
    float: left;
    height: 20px;
    margin: 6px 0 0;
    width: 20px;
    background-size: 240px auto;
}
#groupChatMenuBtn_manage, #groupChatMenuBtn_rename, #groupChatMenuBtn_leave, #groupChatMenuBtn_close {
    margin: 5px 10px;
    padding: 0 0 0 8px;
    text-align: left;
    background-size: 240px auto;
}

.message_status_SERVER_PRIVATE_MESSAGE_READ{
    background: url("../img/icons.svg") no-repeat scroll 0 -13px transparent;
    display: inline-block;
    height: 13px;
    width: 17px;
    background-size: 160px auto;
}
.message_status_SERVER_PRIVATE_MESSAGE_DELIVERED{
    background: url("../img/icons.svg") no-repeat scroll -10px 0px transparent;
    display: inline-block;
    height: 13px;
    width: 14px;
    background-size: 160px auto;
}
.message_status_SERVER_PRIVATE_MESSAGE_SENT{
    background: url("../img/icons.svg") no-repeat scroll -101px -13px transparent;
    display: inline-block;
    height: 13px;
    width: 12px;
    background-size: 160px auto;
}

#chatHistoryElementPlace, #groupHistoryElementPlace {
    margin: -32px -13px -31px -53px;
}

.right_btn {
    background: none repeat scroll 0 0 #0099CC;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #FFFFFF;
    font-weight: normal;
    left: 50%;
}

.left_btn {
    background: none repeat scroll 0 0 #0099CC;
    border-radius: 0 0 0 0;
    box-shadow: none;
    color: #FFFFFF;
    font-weight: normal;
    left: 50%;
}

#loginPage .ui-input-text{
    border-radius: 0px;
}

.login_logo{
    background: url("../img/logo_front.png") no-repeat scroll 0 0 transparent;
    height: 225px;
    left: 50%;
    margin: 0 auto;
    width: 250px;
    background-size: 225px auto;
}